tqdm
email-validator>=2.0
utils
numpy
cython
pillow
pyYAML
pandas
jinja2
fastapi
uvicorn
ipykernel
matplotlib
opencv-python
torch-summary
dill==0.3.5.1
albumentations
python-multipart
pycocotools
google-cloud-storage
